@page
@model Luma.Pages.How_does_it_workModel
@{
    ViewData["Title"] = "Како работи";
    ViewData["how it works"] = "active";
}
<br />
<br />
<h1 style="text-align:center">Како Работи</h1>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-4 how-it-works-image"><img src="https://i.postimg.cc/2y4bXBGM/screenshot-4.png" /></div>
        <div class="col-8 how-it-works-content" style="text-indent:50px;font-size:1.2em;">
            Општиот облик на столот го направивме според повеќе примери, дигитални и физички. За општиот дизајн и контурата на грбот користевме примери од разни ергономски столици.

            Самата цел на овој прототип е да помогне на корисникот да создаде добри навики за кога работи со компјутер. Ова го правиме со мерење на моменталната положба на корисникот, ако има отстапувања од 5 секунди т.е корисникот 5 секунди не седи како што треба тој ќе биде известен со звучен и визуелен сигнал. Корисникот исто така добива известување за да земе пауза после пола час од седење а самата пауза трае 10 минути. корисникот може да постави колку време се работи према колку време трае паузата на веб страната за столот која се хостира локално на микрокмпјутер кој е вграден во столот.

            Дизајнот за грбот на столот е поделен на сегменти кои можат да се движат независно еден од друг. Ова го направивме за корисникот да може да си го постави по своја желба. Посебните сегменти исто така го олеснија самиот процес на конструкција бидејки не требаше да експериментираме со различни дизајни на грбот, туку можевме да го поставиме во саканиот облик. Низ секој сегмент од грбот има по два сензори за притисок, кои служат за детектирање на корисникот кога тој седи на него. Во зависност од тоа кој сензор кога е вклучен може да се процени и положбата во која седи. Сигналите од сензорите ги прима ESP32 микроконтролер кој ги дава на Raspberry Pi микрокомпјутер. На микрокомјутерот има вклучена веб страна, која служи за да ни ги прикажува информациите од сензорите.

            @*Столот има 9 сензори за притисок со кои ја следи вашата положба при седење од кои 6 се на наслонот и 3 на седалката. Наслонот е поделен на три еднакви делови кој во него имаме по два сензори за да се добиеме доби и прецизни отчитувања од сензорите. Потоа имаме уште три сензори кои се на седалката кои се користат за детекција дали некој седи на столот или не и исто така се користат да провериме дали корисникоот правилно седи со нозете. Ако корисникот не седи правилно им*@
        </div>
    </div>
</div>
<br />
<br />
<br />
<div style="font-size:1.2em">
    Овој стол има повеќе начини на известување на корисникот за неговата седечка позиција:
    <ul>
        <li>Визуелно, со ЛЕД диоди кои се позиционирани под столот</li>
        <li>Визуелно, кај графичкиот кориснички интерфес</li>
        <li>Визуелно, кај статистиката за квалитетот на седење</li>
        <li>Звучно, кога е вклучен графичкиот кориснички интерфес добиваме звучен сигнал дали седиме неправилно, или не треба да седиме</li>
    </ul>
</div>
<div style ="font-size:1.2em">
    Интензитетот на светлината на ЛЕД диодите може да се промени од 0 до 100, така што кога ќе поставиме 0, ЛЕД диодите не светат, а од 2-100, ЛЕД диодите светат со избраниот интензитет. Исто така тие ако се исклучени ќе светат кога има важно известување(кога треба да станеш). Звучното известување е присутно само кога:
    <ul>
        <li>Има неправилна позиција на држење на тело</li>
        <li>е време за одмор Времето за седење и одмарање може да биде променето од страна на корисникот. Дозволено време за седење може да биде од 2 до 90 мин. со автоматски конфигурирано време за одмарање. Одмарањето е конфугурирано 3:1, со тоа што ако седиме 30 мин. тогаш ќе треба да одмараме 10 мин. Препорачаното време за седење е 30 мин. со 10 мин. одмор. Продолженото време за седење е 60 мин. со 20 мин. одмор. Исто така звучното известување може да биде исклучено или пак вклучено.</li>
    </ul>


</div>
<hr />
<div class="text-muted " style="text-align:end">
 
            <br />
            <br />
            <br />
            <a href="/Website">Веб страна на столот  -- ></a>
            <br />
            <br />
        </div>