@page
@model Luma.Pages.WebsiteModel
@{
    ViewData["Title"] = "Веб интерфејс";
    ViewData["website"] = "active";
}
<h1 style="text-align:center">Веб страната на столот</h1>
<br />
<br />
<div style="font-size:1.2em">
    Овој стол има и графички кориснички интерфејс преку кој можеме да ги следиме сензорите и позицијата на седење, а со тоа можеме да видиме и неколку статистики за столот. Столот може да нѝ го прикаже квалитот на седење со менување на боите на секој од сензорите во графичкиот интерфејс. Исто така коже и да ни прикаже статистики за квалитетот на седење во одреден изминат период. Статистиката за квалитетот на седење нѝ е прикажана во бројчана вредност од 0 до 10 така што 0 е неседење, 3-10 е квалитетот на правилно држење на телото при седење. Стандардната конфигурација за графикот за квалитетно седење е да го прикаже квалитетот на седење од последните 5 минути.
</div>
<div class="text-silent" style="text-align:center">
    <br />
    <br />
    <br />
    <h3>Графички кориснички интерфес</h3>
    <img style="width:100%" src="https://i.postimg.cc/vZMpctZt/image.png" />
    <br />
    <br />
    <br />
    <h3>Статистика за квалитетот на седење</h3>
    <img style="width:100%" src="https://i.postimg.cc/xCkZWs6n/image.png" />
    <br />
    <br />
    <br />
    <h3>Подесувања</h3>
    <img style="width:100%" src="https://i.postimg.cc/MG1MdxSS/image.png" />
</div>