@page
@model Luma.Pages.ContactModel
@{
}
<h1>
    Контактирајте нe на
</h1>
<address>
    <br />
    Тел: <a href="tel:070123456">070123456</a><br /><br />

    <a href="https://facebook.com"><img height="50px" src="https://www.facebook.com/images/fb_icon_325x325.png/"></a>
    <a href="https://github.com/Macka323/chair"><img height="50px" src="https://remote-europe.com/sites/default/files/2020-10/github.png"></a>

    <br />
    <br />
    <br />
    Изработил: Мартин Милчевски III-4 <br />
    Скопје 2022 год.
</address>